body {
	margin: 0;
	padding: 0;
	background-color: white;
	border-top: 10px solid #4d9543;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.footer {
	color: white;
	background-color: #333333;
}

.logo {
	display: block;
	width: 214px;
	height: 77px;
	background-repeat: no-repeat;
	background-image: url('logo.png');
}
.header {
	padding: 30px 0;
}
.header span {
	display: block;
	float: right;
	font-size: 24px;
	margin-top: 15px;
}
.header span:last-child {
	margin-top: 0;
	clear: both;
	font-size: 18px;
	color: #4d9543;
}









